.pull-right{
	font-family: 'Raleway', sans-serif;
	margin-top: 150px;
	margin-bottom: 10px;
}
table{
	font-family: 'Raleway', sans-serif;
}

 table thead{
 	background-color:#0fcbb4;
 	color: white;

 }
 table thead th{
 	text-align: center;

 }

 table tbody tr td .glyphicon-edit{
 	color:#003366;
 }
  table tbody td{
 	text-align: center;
 }
 .edit_button{
 	padding-left: 5px;
 }
 .dlt_button{
 	padding-left: 5px;
 }
 .create{
 	font-family: 'Raleway', sans-serif;
 	margin-top: 150px;
 	background-color: #0fcbb4;
 	color: white;
 }
 .create input{
 	border: none;
 	height:50px;
 }
 .create button:hover{
 	background-color: #fa6788;
 }
 .create button{
 	height: 50px;
 	width: 300px;
 	background-color: #fa6775;
 	margin-left: 90px;
 	margin-bottom: 30px;
 	font-size: 20px;
 	font-weight: bold;
 	border: ridge white;
    border-width: 4px;
 }
 .validation_error{
 	color: red;
 	background-color: white;
 	text-align: center;
 	height:100%;
 	font-size: 15px;
 	font-weight: bold;

 }
  .update{
 	font-family: 'Raleway', sans-serif;
 	margin-top: 150px;
 	background-color: #008080;
 	color: white;
 }
 .update input{
 	border: none;
 	height:50px;
 }
 .update button:hover{
 	background-color: #fa6788;
 }
 .update button{
 	height: 50px;
 	width: 300px;
 	background-color: #fa6775;
 	margin-left: 90px;
 	margin-bottom: 30px;
 	font-size: 20px;
 	font-weight: bold;
 	border: ridge white;
    border-width: 4px;
 }
