.pull-right{
	margin-top: 150px;
	margin-bottom: 10px;
}

 table thead{
 	background-color:#0fcbb4;
 	color: white;

 }
 table thead th{
 	text-align: center;
 }
 table tbody tr td .glyphicon-edit{
 	color:#003366;
 }
  table tbody td{
 	text-align: center;
 }

 .create{
 	font-family: 'Raleway', sans-serif;
 	margin-top: 150px;
 	background-color: #0fcbb4;
 	color: white;
 }
 .create input{
 	border: none;
 	height:50px;
 }
 .create button{
 	height: 50px;
 	width: 300px;
 	background-color: #c46170;
 	margin-left: 90px;
 	margin-bottom: 30px;
 	font-size: 20px;
 	font-weight: bold;
 }
 .validation_error{
 	color: red;
 	background-color: white;
 	text-align: center;
 	height:100%;
 	font-size: 15px;
 	font-weight: bold;

 }
